.footer__contacts-text{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media screen and (min-width: 1278px){
    .footer__contacts-text{                
        margin-top: 0;       
    }
} 