@import url('../photos/__item/photos__item.css');

.photos {
    margin: 92px auto 0;
    width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
}