@import url('../page/_margin/page_margin.css');

.page{
    min-width: 320px;
    max-width: 984px;              
}

@media screen and (max-width: 1280px){
    .page{
        width: calc(100% - 2 * 48px);
    }    
}

@media screen and (max-width: 768px){
    .page{
        width: 100%;         
    }    
}