@import url('../page/_margin/page_margin.css');

.page{
    min-width: 320px;
    max-width: 1184px;              
}

@media screen and (max-width: 768px){
    .page{
        width: 100%;         
    }    
}