@import url('../../fonts/Roboto/roboto.css');
@import url('../contact/__value/contact__value.css');

.contact{
    margin-bottom: 36px;
}

.contact:last-child{
    margin-bottom: 0;
}

@media screen and (min-width: 1278px){
    .contact{                
        margin-right: 126px;  
        margin-bottom: 0;           
    }

    .contact:last-child {                
        margin-right: 0;             
    }
} 