.places__item{
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 0;           
}

.places__item:last-child{
    margin: 0;    
}

@media screen and (min-width: 427px){
    .places__item{
        grid-template-columns: 47% auto;        
        gap: 40px 28px;
    }
}

@media screen and (min-width: 770px){
    .places__item{
        grid-template-columns: 43% auto;        
        gap: 40px 32px;
    }
}

@media screen and (min-width: 1022px){
    .places__item{        
        grid-template-columns: 440px auto;  
        gap: 60px 40px;         
    }
}

@media screen and (min-width: 1278px){
    .places__item{        
        grid-template-columns: 460px 484px;  
        gap: 60px 40px;         
    }
}