.cover__container{    
    display: flex;  
    flex-direction: column; 
    justify-content: flex-end; 
    cursor: pointer;    
    width: 100%;
    height: calc(100vw / 1.5);
    max-height: 594px;
    background-image: url('../../../images/cover/dogs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    text-align: center;    
    color: white;
    text-decoration: none;
    padding: 0 16px 24px; 
    position: relative;   
}

.cover__container:hover::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);       
}

@media screen and (min-width: 373px){
    .cover__container{
        height: calc(100vw / 1.4);
    }    
}

@media screen and (min-width: 766px){
    .cover__container{
        height: calc(100vw / 1.5);
    }    
}

@media screen and (min-width: 1022px){
    .cover__container{
        height: calc(100vw / 1.85);
    }    
}