.footer__contacts{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 373px){
    .footer__contacts{  
        flex-direction: row;                
        justify-content: space-around;             
    }
} 

@media screen and (min-width: 1278px){
    .footer__contacts{           
        justify-content: flex-start;            
    }
} 