.footer__container{
    display: flex;    
    flex-direction: column;      
    justify-content: space-between; 
    align-items: flex-start;  
}

@media screen and (min-width: 1278px){
    .footer__container{      
        margin-top: 90px;  
        flex-direction: row;        
    }
}