.footer__service{
    display: inline-block;
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
}

.footer__service:first-child{
    margin-top: 0;
}

@media screen and (min-width: 766px){
    .footer__service{
        margin-top: 0;
        margin-right: 18px;
        font-size: 16px;
        line-height: 27px;
    }  
    
    .footer__service:last-child{
        margin-right: 0;
    }
}

@media screen and (min-width: 1022px){
    .footer__service{        
        font-size: 24px;
        line-height: 41px;
    }     
}