@import url('../__language/_current/header__language_current.css');

.header__language{    
    margin-right: 1.125em;    
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 23px;
}

.header__language:last-child{
    margin-right: 0;
}

@media screen and (max-width: 375px){
    .header__language{
        margin-right: 1em;   
        font-size: 1.125em;   
        line-height: 17px;     
    } 
}
