.places__website{
    margin: 0;
    display: none;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
    width: 100%;
}

@media screen and (min-width: 427px){
    .places__website{
        display: flex;    
    }
}