@import url('../../fonts/Roboto/roboto.css');
@import url('../feature/__image/feature__image.css');
@import url('../feature/__title/feature__title.css');
@import url('../feature/__description/feature__description.css');

.feature{
    margin: 0 0 36px;
    padding: 0;
    list-style: none;
    max-width: 303px;
}

.feature:last-child{
    margin: 0;
}