@import url('../../fonts/InterWeb/inter.css');
@import url('../header/__logo/header__logo.css');
@import url('../header/__language/header__language.css');

.header{               
    display: flex;
    align-items: center;
    font-family: Inter, Arial, sans-serif;
}    

@media screen and (max-width: 768px){
    .header{
        padding: 0 24px;
    } 
}

@media screen and (max-width: 427px){
    .header{
        padding: 0 16px;
    }
}