.facade__language{
    display: inline-block;
    margin-right: 18px;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
}

.facade__language:last-child{
    margin-right: 0;
}