.lead__figure{
    margin: 78px 0 0;
    max-width: 984px;  
}

@media screen and (max-width: 1024px){
    .lead__figure{
        max-width: 928px;
    } 
}

@media screen and (max-width: 768px){
    .lead__figure{
        max-width: 100%;
    } 
}

@media screen and (max-width: 375px){
    .lead__figure{
        margin: 32px 0 0;        
    }
}