@import url('../page/_margin/page_margin.css');

.page{
    min-width: 320px;
    max-width: 944px;    
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;             
}
/* 
@media screen and (max-width: 768px){
    .page{
        width: 100%;         
    }    
} */