.comments__container{
    display: flex;
    flex-direction: column;
    list-style-type: none;    
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 427px){
    .comments__container{
        margin: 72px 0;
    }    
}

@media screen and (min-width: 770px){
    .comments__container{
        margin: 66px 0;
        flex-direction: row;
    }    
}