@import url('../../fonts/InterWeb/inter.css');
@import url('../photos/_margin/photos_margin.css');
@import url('../photos/__item/photos__item.css');

.photos {    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    grid-template-rows: auto;
    gap: 16px;
    font-family: Inter, Arial, sans-serif;
}

@media screen and (max-width: 1024px){
    .photos{
        gap: 14px;        
    }
}

@media screen and (max-width: 768px){
    .photos{
        gap: 16px;     
    }
}

@media screen and (max-width: 375px){
    .photos{
        gap: 15px;      
    }
}

@media screen and (max-width: 320px){
    .photos{
        gap: 8px;      
    }
}