.cover__subtitle{
    position: absolute;
    margin: 0;
    width: 382px;
    bottom: 48px;
    right: 401px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}