@import url('../../fonts/Roboto/roboto.css');
@import url('../footer/_margin/footer_margin.css');

.footer{ 
    font-family: 'Roboto', Arial, sans-serif;   
    display: flex;    
    flex-direction: column;       
}