@import url('../../fonts/Roboto/roboto.css');
@import url('../footer/_margin/footer_margin.css');
@import url('../footer/__contacts-text/footer__contacts-text.css');
@import url('../footer/__contacts-container/footer__contacts-container.css');
@import url('../footer/__policy/footer__policy.css');
@import url('../footer/__contacts/footer__contacts.css');

.footer{ 
    font-family: 'Roboto', Arial, sans-serif;   
    display: flex;    
    flex-direction: row;  
    flex-wrap: wrap; 
    justify-content: space-between;    
}