.additional__item-text{
    position: absolute;
    margin: 0;
    bottom: 30px;
    right: 18px;
    width: 248px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}