@import url('../../fonts/InterWeb/inter.css');
@import url('../section-subtitle/_margin/section-subtitle_margin.css');

.section-subtitle{    
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
}

@media screen and (min-width: 427px){
    .section-subtitle{        
        font-size: 24px;
        line-height: 35px;  
        max-width: 90%;
    }
}

@media screen and (min-width: 766px){
    .section-subtitle{         
        max-width: 640px;
    }
}