@import url('../../vendor/normalize.css');
@import url('../header/__info/header__info.css');
@import url('../header/__languages/header__languages.css');
@import url('../header/__language/header__language.css');

.header{
    width: 1184px;
    margin: 0 auto;  
    padding-top: 30px;  
}