@import url('../../fonts/Roboto/roboto.css');
@import url('../intro/_margin/intro_margin.css');
@import url('../intro/__avatar/intro__avatar.css');
@import url('../intro/__title/intro__title.css');
@import url('../intro/__name/intro__name.css');
@import url('../intro/__abilities/intro__abilities.css');
@import url('../intro/__button/intro__button.css');
@import url('../intro/__container/intro__container.css');

.intro{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 1022px){
    .intro{
        flex-direction: row-reverse;
        text-align: start;
        justify-content: space-between;
    }
}